<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="/css" type="text/css">
  </head>
<body>
<div class="navbar">
  <a href=/>Home</a>
  <a href=/lookup>Registration Lookup</a>
  <a href=/student>Student Lookup</a>
  <a href=/professor>Professor Lookup</a>
  <a href=/course>Course Lookup</a>
  <a href=/room>Room Lookup</a>
</div>

<div class="main">
  {{{body}}}
</div>

</body>
<script src="studentscripts.js"></script>
<script src="roomscripts.js"></script>
</html>