<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>

  </head>
<body>


	{{{body}}}

Link: 
<br>
<a href=/>home page</a>
<br>
<a href=/lookup>lookup page</a>
<br>
<a href=/add>add page</a>
</body>
</html>