<h1>Add Page</h1>

<p>This page is used to add a new student, professor, or course to the database.</p>
<br>
<label for="addNew">Add a New: </label><br>
<select id="addNew">
  <option value="student">Student</option>
  <option value="professor">Professor</option>
  <option value="course">Course</option>
</select>
<button onclick="showForm()">Add</button>

<form id="student" hidden>
  <br>
  <h3>Add a Student:</h3>
  <label for="sfname">First name:</label><br>
  <input type="text" id="sfname" name="sfname" placeholder="John"><br>
  <label for="slname">Last name:</label><br>
  <input type="text" id="slname" name="slname" placeholder="Doe"><br>
  <label for="semail">Email:</label><br>
  <input type="text" id="semail" name="semail" placeholder="doejohn@osu.edu"><br>
  <label for="snumber">Student Number:</label><br>
  <input type="text" id="snumber" name="snumber" placeholder="OSU1234567"><br>
  <label for="sphone">Phone Number:</label><br>
  <input type="text" id="sphone" name="sphone" placeholder="1112223333"><br><br>
  <input type="submit" value="Add">
</form>

<form id="professor" hidden>
  <br>
  <h3>Add a Professor:</h3>
  <label for="pfname">First name:</label><br>
  <input type="text" id="pfname" name="pfname" placeholder="Jane"><br>
  <label for="plname">Last name:</label><br>
  <input type="text" id="plname" name="plname" placeholder="Doe"><br>
  <label for="pemail">Email:</label><br>
  <input type="text" id="pemail" name="pemail" placeholder="doejane@osu.edu"><br>
  <label for="pnumber">Professor Number:</label><br>
  <input type="text" id="pnumber" name="pnumber" placeholder="P1234567"><br>
  <input type="submit" value="Add">
</form>

<form id="course" hidden>
  <br>
  <h3>Add a Course:</h3>
  <label for="cname">Course name:</label><br>
  <input type="text" id="cname" name="cname" placeholder="CS344"><br>
  <label for="cstart">Start Date:</label><br>
  <input type="text" id="cstart" name="cstart" placeholder="2021-08-01"><br>
  <label for="cend">End Date:</label><br>
  <input type="text" id="cend" name="cend" placeholder="2021-09-30"><br>
  <label for="croom">Room Number:</label><br>
  <input type="text" id="croom" name="croom" placeholder="A302"><br>
  <label for="cnumber">Professor Number:</label><br>
  <input type="text" id="cnumber" name="cnumber" placeholder="P1234567"><br>
  <input type="submit" value="Add">
</form>
<br>

<script type="text/javascript">
function showForm(){
  addValue = document.getElementById("addNew").value;
  if (addValue == "student"){
    document.getElementById("student").hidden = false;
    document.getElementById("professor").hidden = true;
    document.getElementById("course").hidden = true;
  }
  else if (addValue == "professor"){
    document.getElementById("student").hidden = true;
    document.getElementById("professor").hidden = false;
    document.getElementById("course").hidden = true;
  }
  else if (addValue == "course"){
    document.getElementById("student").hidden = true;
    document.getElementById("professor").hidden = true;
    document.getElementById("course").hidden = false;
  }
  else{
    document.getElementById("student").hidden = true;
    document.getElementById("professor").hidden = true;
    document.getElementById("course").hidden = true;
  }
}
</script>