<h1>Enrollments Lookup</h1>

<button onclick="showEnrollmentLookup()">Look for Enrollment</button><button onclick="showEnrollmentAdd()">Add Enrollment</button>

<form id="enrollment-lookup" hidden>
    <h3>Look for Enrollment:</h3>
    <p>Search for the fields you would like to, all fields are optional.</p>
    
    <div class="enrollment-form">
        <label for="enrollment student ID">Student ID Number: </label>
        <input type="text" name="enrollment studentID" id="enrollmentstudentID">
    </div>
    <div class="enrollment-form">
        <label for="enrollment name">Professor ID Number: </label>
        <input type="text" name="enrollment lname" id="enrollmentlname">
    </div>
    <div class="enrollment-form">
        <label for="enrollment Course Number">Course Name: </label>
        <input type="email" name="enrollment email" id="enrollmentemail">
    </div>
    <div class="enrollment-form">
        <button onclick="">Search</button>
    </div>
</form>

<form id="enrollment-add" hidden>
    <h3>Add a enrollment:</h3>
    <p>Add a new enrollment to the database. All fields are required.</p> 
    <div>
        <label for="sfname">enrollment First Name:</label>
        <input type="text" id="sfname" name="sfname" placeholder="John">
    </div>
    <div>
        <label for="slname">enrollment Last Name:</label>
        <input type="text" id="slname" name="slname" placeholder="Doe">
    </div>
    <div>
        <label for="semail">enrollment Email:</label>
        <input type="text" id="semail" name="semail" placeholder="doejohn@osu.edu">
    </div>
    <div>
        <label for="snumber">enrollment ID Number:</label>
        <input type="text" id="snumber" name="snumber" placeholder="OSU1234567"></div>
    <div>
        <label for="sphone">enrollment Phone Number:</label>
        <input type="text" id="sphone" name="sphone" placeholder="1112223333">
    </div>
  <input type="submit" value="Add New enrollment">
</form>




<p>Show all courses enrollment is taking.</p>
<form>
    <div class="enrollment-form">
        <label for="enrollment number">enrollment ID Number: </label>
        <input type="text" name="enrollment number" id="enrollmentnumber" required>
    </div>
    <button>Search</button>
</form>

<br>
<p>Show all courses and enrollments professor is teaching.</p>
<form>
    <div class="professor-form">
        <label for="professor number">Professor ID Number: </label>
        <input type="text" name="professor number" id="professornumber" required>
    </div>
    <button>Search</button>
</form>

<br>
<p>Show all enrollments taking course.</p>
<form>
    <div class="course-form">
        <label for="course name">Course Name: </label>
        <input type="text" name="course name" id="coursename" required>
    </div>
    <div class="course-form">
        <label for="course start">Course Start Date: </label>
        <input type="text" name="course start" id="coursestart" required>
    </div>
    <button>Search</button>
</form>


<script type="text/javascript">
    // toggle enrollment look up form
    function showEnrollmentLookup(){
        lookup_form = document.getElementById("enrollment-lookup");
        add_form = document.getElementById("enrollment-add");
        if (window.getComputedStyle(lookup_form).display == "none"){
            if (window.getComputedStyle(add_form).display != "none"){
                add_form.hidden = true;
            }
            lookup_form.hidden = false;
        } else {
            lookup_form.hidden = true;
        }
    }

    // toggle enrollment add form
    function showEnrollmentAdd(){
        lookup_form = document.getElementById("enrollment-lookup");
        add_form = document.getElementById("enrollment-add");
        if (window.getComputedStyle(add_form).display == "none"){
            if (window.getComputedStyle(lookup_form).display != "none"){
                lookup_form.hidden = true;
            }
            add_form.hidden = false;
        } else {
            add_form.hidden = true;
        }
    }
</script>