<h1>Home page</h1>

<p>Welcome to the Student Registration Service. You can search, add, update, and delete information for students, professors, course, rooms, and enrollment status.</p>

<br>

<img src="/images/classroom.jpg" width="800" height="500">

<br>
<br>

<h2>Instructions</h2>

<h4>Searching</h4>
<p>When searching for a particular student, professor, course, or room. You can enter a starting pattern of the data you would like to search for, and the result will match anything that matches the pattern. For example, if user enters “J”, then search results will result return “John” and “Joe”.</p>
<p>If you would like to view the whole table after a search, please click on the clear search filter.</p>

<br>

<h4>Adding</h4>
<p>When adding a new student, professor, and room. You will need to provide all the information by manual input.</p>
<p>When adding a course, you will need to provide some of the information by manual input. You will select the room of the course will be taught and the professor who is teaching the class via drop down menus.</p>
<p>When adding a new enrollment status, you will select the student and the class via drop down menus.</p> 

<br>

<h4>Updating</h4>
<p>When updating, all the fields will be pre-populated with current data, and you will only need to change the field you would like to update.</p>
<p>After updating, fields with updated data will also update in other tables. E.g. Changing the professor name in Professor Lookup will also change the corresponding professor name in Course Lookup table.</p>

<br>

<h4>Deleting</h4>
<p>When deleting, the row will be deleted from the table.</p>
<p>After deleting, fields that contained deleted data will be updated to null. E.g. Deleting a professor from the Professor Lookup table will delete the corresponding professor name in the Course Lookup table to a blank cell.</p>