<p>Home page</p>

<p>Lookup page provides front end user to look up a student are taking what classes or a professor teaching what students and what classes etc.</p>
<p>Add page provides front end user to add a new student, professor or a course by providing relevant information</p>