<h1>Student Registration Lookup</h1>

<h3>Look for Student:</h3>
<form action="">
    <div class="student-form">
        <label for="student fname">Student First Name: </label>
        <input type="text" name="student fname" id="student fname" required>
    </div>
    <div class="student-form">
        <label for="student name">Student Last Name: </label>
        <input type="text" name="student lname" id="student lname" required>
    </div>
    <div class="student-form">
        <label for="student email">Student Email: </label>
        <input type="email" name="student email" id="student email" required>
    </div>
    <div class="student-form">
        <label for="student number">Student ID Number: </label>
        <input type="text" name="student number" id="student number" required>
    </div>
    <div class="student-form">
        <label for="student name">Student Phone Number </label>
        <input type="text" name="student phone number" id="student phone number" required>
    </div>
    <div class="student-form">
        <input type="button" value="Search Student">
    </div>
</form>

<br>
<table>
    <thead>
        <tr>
            <th>Student First Name</th>
            <th>Student Last Name</th>
            <th>Student Email</th>
            <th>Student ID Number</th>
            <th>Student Phone Number</th>
        </tr>
        
    </thead>
    <tbody>
        <tr>
            <td>John</td>
            <td>Smith</td>
            <td>Jsmith001@univ.edu</td>
            <td>00001</td>
            <td>(555) 555-5555</td>
        </tr>
    </tbody>
</table>