<h1>Professor Lookup</h1>

<button onclick="showProfessorLookup()">Look for Professor</button><button onclick="showProfessorAdd()">Add Professor</button>

<form id="professor-lookup" hidden>  
    <h3>Look for Professor:</h3>
    <p>Search for the fields you would like to, all fields are optional.</p>
    <div class="professor-form">
        <label for="professor fname">Professor First Name: </label>
        <input type="text" name="professor fname" id="professorfname">
    </div>
    <div class="professor-form">
        <label for="professor name">Professor Last Name: </label>
        <input type="text" name="professor lname" id="professorlname">
    </div>
    <div class="professor-form">
        <label for="professor email">Professor Email: </label>
        <input type="email" name="professor email" id="professoremail">
    </div>
    <div class="professor-form">
        <label for="professor number">Professor ID Number: </label>
        <input type="text" name="professor number" id="professornumber">
    </div>
    <div class="professor-form">
        <button onclick="return checkString();">Search</button>
    </div>
</form>

<form id="professor-add" hidden>
    <h3>Add a Professor:</h3>
    <p>Add a new professor to the database. All fields are required.</p>
    <div>
        <label for="pfname">Professor First Name:</label>
        <input type="text" id="pfname" name="pfname" placeholder="Jane">
    </div>
    <div>
        <label for="plname">Professor Last Name:</label>
        <input type="text" id="plname" name="plname" placeholder="Doe">
    </div>
    <div>
        <label for="pemail">Professor Email:</label>
        <input type="text" id="pemail" name="pemail" placeholder="doejane@osu.edu">
    </div>
    <div>
        <label for="pnumber">Professor ID Number:</label>
        <input type="text" id="pnumber" name="pnumber" placeholder="P1234567">
    </div>
    <input type="submit" value="Add Professor">
</form>

<div>
<br>
<p id="searchvalue"></p>
<br>
<table>
    <thead>
        <tr>
            <th>Professor First Name</th>
            <th>Professor Last Name</th>
            <th>Professor Email</th>
            <th>Professor ID Number</th>
            
        </tr>
        
    </thead>
    <tbody>
        <tr>
            <td>Kiera</td>
            <td>Constant</td>
            <td>kconstant@osu.edu</td>
            <td>63079</td>
            <td><button>Update</button></td>
            <td><button>Delete</button></td>
        </tr>
        <tr>
            <td>Jocelyne</td>
            <td>Lukas</td>
            <td>jlukas@osu.edu</td>
            <td>19047</td>
            <td><button>Update</button></td>
            <td><button>Delete</button></td>
        </tr>
        <tr>
            <td>Rita</td>
            <td>Pravin</td>
            <td>rpravin@osu.edu</td>
            <td>51729</td>
            <td><button>Update</button></td>
            <td><button>Delete</button></td>
        </tr>
    </tbody>
</table>
</div>