<h1>Room Lookup</h1>

<h3>Look for Rooms:</h3>
<form>
    <div class="room-form">
        <label for="room number">Room Number: </label>
        <input type="text" name="room number" id="roomnumber" required>
    </div>
    <div class="room-form">
        <button>Search</button>
    </div>
</form>

<br>
<p id="searchvalue"></p>
<br>

<table>
    <thead>
        <tr>
            <th>Room Number</th>
            <th>Course Name</th>
            
        </tr>
        
    </thead>
    <tbody>
        <tr>
            <td>C441  
            <td>CS340      
            <td><button>Update</button></td>
            <td><button>Delete</button></td>            
        </tr>
        <tr>
            <td>A102   
            <td>CS161  
            <td><button>Update</button></td>
            <td><button>Delete</button></td>
        </tr>
        <tr>
            <td>L306  
            <td>CS162   
            <td><button>Update</button></td>
            <td><button>Delete</button></td> 
        </tr>

    </tbody>
</table>
<br>