<h1>Student Lookup</h1>

<button onclick="showStudentLookup()">Look for Student</button><button onclick="showStudentAdd()">Add Student</button>

<form id="student-lookup" hidden>
    <h3>Look for Student:</h3>
    <p>Search for the fields you would like to, all fields are optional.</p>
    
    <div class="student-form">
        <label for="student fname">Student First Name: </label>
        <input type="text" name="student fname" id="studentfname">
    </div>
    <div class="student-form">
        <label for="student name">Student Last Name: </label>
        <input type="text" name="student lname" id="studentlname">
    </div>
    <div class="student-form">
        <label for="student email">Student Email: </label>
        <input type="email" name="student email" id="studentemail">
    </div>
    <div class="student-form">
        <label for="student number">Student ID Number: </label>
        <input type="text" name="student number" id="studentnumber">
    </div>
    <div class="student-form">
        <label for="student name">Student Phone Number </label>
        <input type="text" name="student phone number" id="studentphonenumber" maxlength="10">
    </div>
    <div class="student-form">
        <button onclick="return checkString();">Search</button>
    </div>
</form>

<form id="student-add" hidden>
    <h3>Add a Student:</h3>
    <p>Add a new student to the database. All fields are required.</p> 
    <div>
        <label for="sfname">Student First name:</label>
        <input type="text" id="sfname" name="sfname" placeholder="John">
    </div>
    <div>
        <label for="slname">Last name:</label>
        <input type="text" id="slname" name="slname" placeholder="Doe">
    </div>
    <div>
        <label for="semail">Email:</label>
        <input type="text" id="semail" name="semail" placeholder="doejohn@osu.edu">
    </div>
    <div>
        <label for="snumber">Student Number:</label>
        <input type="text" id="snumber" name="snumber" placeholder="OSU1234567"></div>
    <div>
        <label for="sphone">Phone Number:</label>
        <input type="text" id="sphone" name="sphone" placeholder="1112223333">
    </div>
  <input type="submit" value="Add">
</form>

<div>
<br>
<p id="searchvalue"></p>
<br>
<table>
    <thead>
        <tr>
            <th>Student First Name</th>
            <th>Student Last Name</th>
            <th>Student Email</th>
            <th>Student ID Number</th>
            <th>Student Phone Number</th>
        </tr>
        
    </thead>
    <tbody>
        <tr>
            <td>Wulf</td>    
            <td>Archana</td> 
            <td>warchana@osu.edu</td>    
            <td>432238</td>  
            <td>9122411950</td>
            <td><button>Update</button></td>
            <td><button>Delete</button></td>
        </tr>
        <tr>
            <td>Jim</td>
            <td>Jones</td>
            <td>jjones@osu.edu</td>
            <td>363098</td>
            <td>2823031598</td>
            <td><button>Update</button></td>
            <td><button>Delete</button></td>
        </tr>
        <tr>
            <td>Eustorgios  
            <td>Andrei  
            <td>eandrei@osu.edu 
            <td>981843  
            <td>9285860595  
            <td><button>Update</button></td>
            <td><button>Delete</button></td>
        </tr>
        <tr>
            <td>Shun    
            <td>Aseneth 
            <td>saseneth@osu.edu    
            <td>827089  
            <td>4089316259
            <td><button>Update</button></td>
            <td><button>Delete</button></td>
        </tr>
        <tr>
            <td>Corrie  
            <td>Sophea  
            <td>csophea@osu.edu 
            <td>459109  
            <td>4938306544
            <td><button>Update</button></td>
            <td><button>Delete</button></td>
        </tr>
    </tbody>
</table>
</div>
<br>
<p>When you hit update, below appears:</p>
<table>
    <thead>
        <tr>
            <th>Student First Name</th>
            <th>Student Last Name</th>
            <th>Student Email</th>
            <th>Student ID Number</th>
            <th>Student Phone Number</th>
        </tr>
        
    </thead>
    <tbody>
        <tr>
            <td><input type="text" id="editfname" value="Wulf"></input></td>    
            <td><input type="text" id="editlname" value="Archana"></input></td> 
            <td><input type="text" id="editemail" value="warchana@osu.edu"></input></td>    
            <td><input type="text" id="editnumber" value="432238" disabled></input></td>  
            <td><input type="text" id="editphonenumber" value="9122411950"></input></td>
            <td><button>Save</button></td>
        </tr>
    </tbody>
</table>
<br>

<script type="text/javascript">
    function checkString(){
        let checkfname = document.getElementById("studentfname").value;
        let checklname = document.getElementById("studentlname").value;
        let checkemail = document.getElementById("studentemail").value;
        let checknumber = document.getElementById("studentnumber").value;
        let checkphonenumber = document.getElementById("studentphonenumber").value;
        let search = '';

        if (checkfname !== ''){
            search = search.concat(" First name:");
            search = search.concat(checkfname);
        }
        if (checklname !== ''){
            search = search.concat(" Last name:");
            search = search.concat(checklname);
        }
        if (checkemail !== ''){
            search = search.concat(" Email:");
            search = search.concat(checkemail);
        }
        if (checknumber !== ''){
            search = search.concat(" Number:");
            search = search.concat(checknumber);
        }
        if (checkphonenumber !== ''){
            search = search.concat(" Phone Number:");
            search = search.concat(checkphonenumber);
        }
        if (search === ''){
            search = "All fields were left blank";
            document.getElementById("searchvalue").innerHTML = search;
            return false;
        }
        document.getElementById("searchvalue").innerHTML = search;
        return false;
    }

    function showStudentLookup(){
        lookup_form = document.getElementById("student-lookup");
        add_form = document.getElementById("student-add");
        if (window.getComputedStyle(lookup_form).display == "none"){
            if (window.getComputedStyle(add_form).display != "none"){
                add_form.hidden = true;
            }
            lookup_form.hidden = false;
        } else {
            lookup_form.hidden = true;
        }
    }

    function showStudentAdd(){
        lookup_form = document.getElementById("student-lookup");
        add_form = document.getElementById("student-add");
        if (window.getComputedStyle(add_form).display == "none"){
            if (window.getComputedStyle(lookup_form).display != "none"){
                lookup_form.hidden = true;
            }
            add_form.hidden = false;
        } else {
            add_form.hidden = true;
        }
    }
</script>